# POSTTEST 4 KB
# NAMA : M. RANGGA YAQUB WIJAYA
# NIM : 2109106104

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.impute import SimpleImputer

In [10]:
dataset = pd.read_csv("StatewiseTestingDetails.csv")
dataset

,Date,State,TotalSamples,Negative,Positive
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0
...,...,...,...,...,...
16331,2021-08-06,West Bengal,15999961.0,NaN,NaN
16332,2021-08-07,West Bengal,16045662.0,NaN,NaN
16333,2021-08-08,West Bengal,16092192.0,NaN,NaN
16334,2021-08-09,West Bengal,16122345.0,NaN,NaN
16335,2021-08-10,West Bengal,16162814.0,NaN,NaN

### MemBagi dataset menjadi training set dan testing set dengan proporsi 70:30 di kolom State

In [12]:
x = df.drop('State', axis=1)
y = df['State']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

### Melaakukan normalisasi data pada attribute total sample menggunakan Min Max scaler

In [14]:
dataset1 = dataset.copy()
scaler = MinMaxScaler()
scaledData = scaler.fit_transform(dataset1[['TotalSamples']])
dataset1['TotalSamples'] = scaledData

### Menampilkan data sebelum di normlisasi, dan setelah di normalisasi

In [18]:
print("sebelum dinormalisasi: ")
print(dataset['TotalSamples'].describe())
print('\n')
print("setelah dinormalisasi: ")
print(dataset1['TotalSamples'].describe())

sebelum dinormalisasi:
count    1.633600e+04
mean     5.376466e+06
std      8.780338e+06
min      5.800000e+01
25%      1.729098e+05
50%      9.307580e+05
75%      7.284795e+06
max      6.789786e+07
Name: TotalSamples, dtype: float64


setelah dinormalisasi:
count    16336.000000
mean         0.079184
std          0.129317
min          0.000000
25%          0.002546
50%          0.013707
75%          0.107290
max          1.000000
Name: TotalSamples, dtype: float64

### melakukan standarisasi pada dataset

In [23]:
dataset2 = dataset.copy()
scaler = StandardScaler()
scaledData = scaler.fit_transform(dataset1[['TotalSamples']])
dataset2['TotalSamples'] = scaledData

### Menampilkan hasil standar deviasi dari kolom total Sample sebelum dan sesudah di standarisasi

In [24]:
print("sebelum di standardisasi: ")
print("Standar Deviasi >> ", np.std(dataset['TotalSamples']))
print('\n')
print("setelah di standardisasi: ")
print("Standar Deviasi >> ", np.std(dataset2['TotalSamples']))

sebelum di standardisasi:
Standar Deviasi >>  8780069.018440211


setelah di standardisasi:
Standar Deviasi >>  1.0

In [26]:
dataset3 = dataset.copy()
dataset3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  object
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      6969 non-null   object
 4   Positive      5662 non-null   float64
dtypes: float64(2), object(3)
memory usage: 638.2+ KB

### mengubah kolom Positive dari float64  menjadi int64

In [30]:
dataset3['Positive'] = dataset3['Positive'].astype('int64')

### membuat nilai Null pada kolom State dan kolom positive

In [38]:
dataset3.loc[10000:, 'State'] = np.nan 
dataset3.loc[10000:, 'Positive'] = np.nan 
print("Jumlah nilai null pada kolom state    >> ", dataset3['State'].isna().sum())
print("Jumlah nilai null pada kolom Positive >> ", dataset3['Positive'].isna().sum())

Jumlah nilai null pada kolom state    >>  6336
Jumlah nilai null pada kolom Positive >>  6336

### Mengatasi Nilai Null sesuai ketentuan Posttest :
### 1. Kolom State         (Tipe => Object/String) => Metode Modus
### 2. Kolom Positive            (Tipe => integer) => Metode Median
### 3. Kolom Total Sample          (Tipe => float) => Metode Mean
### 4. Kolom Negative      (Tipe => Object/String) => Metode Modus

In [43]:
dataset3['Positive'].fillna(dataset3['Positive'].median(), inplace=True) 
dataset3['TotalSamples'].fillna(dataset3['TotalSamples'].mean(), inplace=True) 
dataset3['State'].fillna(dataset3['State'].mode()[0], inplace=True) 
dataset3['Negative'].fillna(dataset3['Negative'].mode()[0], inplace=True)

### Menampilkan jumlah nilai nulll pada semua kolom dataset setelah nilai null diatasi

In [44]:
dataset3.isna().sum()

Date            0
State           0
TotalSamples    0
Negative        0
Positive        0
dtype: int64

### menampilkan jumlah nlai duplikasi di dalam dataset

In [46]:
dataset3.duplicated().sum()

1

### Mengatasi nilai duplikasi pada dataset, dan menampilkan jumlah nilia dupliakasi setelah nilai duplikasi diatasi

In [47]:
dataset3.drop_duplicates(inplace=True)
dataset3.duplicated().sum()

0

### mengubah kolom Positive dari float64  menjadi int64

In [49]:
dataset3['TotalSamples'] = dataset3['TotalSamples'].astype('int64')

### Lakukan one hot encoding pada dataset menggunakan kolom State

In [57]:
dataset4 = dataset.copy()

encoding = pd.get_dummies(dataset[['State']])
dataset4 = dataset.join(encoding.astype('int64'))

dataset4.drop('State', axis=1, inplace=True)

In [58]:
dataset4.head()

,Date,TotalSamples,Negative,Positive,State_Andaman and Nicobar Islands,State_Andhra Pradesh,State_Arunachal Pradesh,State_Assam,State_Bihar,State_Chandigarh,...,State_Puducherry,State_Punjab,State_Rajasthan,State_Sikkim,State_Tamil Nadu,State_Telangana,State_Tripura,State_Uttar Pradesh,State_Uttarakhand,State_West Bengal
0,2020-04-17,1403.0,1210,12.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-04-24,2679.0,NaN,27.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-04-27,2848.0,NaN,33.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-05-01,3754.0,NaN,33.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-05-16,6677.0,NaN,33.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0